<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handset.zxing" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application>
        <activity android:name="com.google.zxing.client.android.activity.AliCaptureActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.google.zxing.client.android.activity.DefaultCaptureActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.google.zxing.client.android.activity.WeChatCaptureActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>


